<div *ngIf="(authComponent.user | async) as user;else login">{{user.email}} -  {{user.uid}}
  <br/><br/>
  <button class="btn btn-dark" (click)="authComponent.logout()">
  <i class="fas fa-sign-out-alt"></i>
    LOGOUT
  </button>
  <br/><br/>
</div>

<ng-template #login>
  <div class = "loginDiv">
  <br/><br/>
    <button class="btn btn-primary" (click)="authComponent.login()">
      <i class="fas fa-address-card"></i>
      Email Login
    </button>
    <br/><br/>
    <button class="btn btn-danger" (click)="authComponent.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
  </div>

</ng-template>

<app-lista-productos></app-lista-productos>
